li {
  margin: 20px 0;
}
/*style for navbar*/
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: content-box;
}
body {
  font-family: Verdana, system-ui, Arial, "Helvetica Neue", Helvetica,
    sans-serif;
}
nav {
  background: #f49908;
  height: 70px;
  width: 100%;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
nav ul li:hover {
  background-color: #002b45;
  color: white;
}
nav {
  opacity: 0.9;
}
.hero-text{
    line-height: 150%;
}
.blank{
    opacity: 0%;
}


  
